// Animations
@keyframes blink {
  0%,
  49%,
  100% {
    opacity: 0;
  }
  50%,
  99% {
    opacity: 1;
  }
}

@keyframes leftToRight {
}

@keyframes showcase {
  0% {
    transform: scale(0.7) translateY(50%);
  }
  15% {
    transform: scale(0.9) translateY(-90%);
  }
  25% {
    transform: scale(0.9) translateY(-150%);
  }
  // 35% {
  //   transform: scale(0.9) translateY(-200%);
  // }
  50% {
    transform: scale(0.9) translateY(-250%);
  }
  75% {
    transform: scale(0.9) translateY(-350%);
  }

  100% {
    transform: scale(0.7) translateY(-550%);
  }
}
