// Variables
$website-width: 1280px;
$font-serif: "Playfair Display", serif;
$font-sans: "Open Sans", sans-serif;
// $website-height: 100vh;

// Colors
$bg: #ffffeb;
$bg-light: #fff;
$bg-light2: #fff;
$bg-dark: #484349;
$primary-color: #ffffeb;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #484349;
$secondary-color: #e7d27c;
