// Variables
$website-width: 1280px;
$font-header: "Playfair Display", serif;
$font-body: "Open Sans", sans-serif;
// $website-height: 100vh;

// Colors
$bg: #ffffeb;
$bg-light: #fff;
$bg-light2: #fff;
$bg-dark: #333;
$primary-color: #ffffeb;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
