// Variables
$website-width: 1280px;
// $website-height: 100vh;

// Colors
$background-color: #ffffeb;
$primary-color: #ffffeb;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
