@import "config";
@import "animations";
@import "utilities";
@import "media";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // max-width: 100%;
  // User Cannot highlight & drag elements
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

body {
  overflow-x: hidden;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
}

// Logo
#logo {
  width: 6.5rem;
  height: 6.5rem;
  box-shadow: 0 0 2px 1px rgba(86, 185, 235, 0.3);
}

// Main Nav
#main-nav {
  display: flex;
  align-items: center;
  max-width: $website-width;
  margin: auto;
  justify-content: space-between;
  padding: 2rem 7rem 0 7rem;

  img {
    justify-self: flex-start;
  }
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: $dark-color;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border 0.2s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $dark-color;
    }
  }
}

// HEADER
#header {
  align-items: center;
  justify-content: center;
  max-width: $website-width;
  &-home {
    // border: 1px solid black;
    height: 100vh;

    .container {
      height: 90vh;
      border: 0.2rem #e7d27c solid;
      border-top: none;
    }
    // E7D27C
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & span {
    font-size: 2.5rem;
  }

  & h1 {
    text-align: left;
    width: 57%;
    background-color: $bg-light;
    border: 1px solid $dark-color;
    margin-top: 10rem;
    margin-bottom: 1.5rem;
    padding: 1rem 0.5rem 1rem 3rem;
    font-size: 2.1rem;

    span {
      font-size: 2.1rem;
    }
  }

  #cursor {
    font-weight: 300;
    font-size: 2.5rem;
    &.cursorBlink {
      // The '|' in the typewriter text, with a blinking effect
      animation: blink 1000ms linear infinite;
    }
  }

  & p {
    font-size: 1rem;
    text-align: center;
    width: 55%;
    margin-bottom: 1rem;
  }
}

// SECTION: Projects
#projects {
  // background-color: $bg-dark;
  background-color: $secondary-color;
  height: 100vh;
  display: flex;
  justify-content: center;
  // align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  // padding-bottom: 3rem;

  .container {
    background-color: $bg-light;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $dark-color;
    // border-left: none;
    // border-right: none;
    position: relative;
    transition: background-color 300ms;
  }
  .project-description {
    background-color: #fffdf6;
    width: 30%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate3d(-70%, -30%, 0);
    border: 1px solid $dark-color;
  }
  .project-samples {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 85%;
    height: 100%;
    // border: 1px solid blue;
    position: relative;
    // overflow: hidden;
  }
  .project-preview1,
  .project-preview2 {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 58%;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    border: 1px solid $dark-color;
    visibility: hidden;
    // opacity: 0;
    z-index: 3;
    img {
      width: 100%;
      height: auto;
    }
    transition: opacity 500ms;
    pointer-events: none;
  }
  .project-preview1.show,
  .project-preview2.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 500ms;
  }
  // Added effects when a project is hovered
  & .container.project1 {
    // background-color: #d3e8ff;
    #project1 h2 {
      font-weight: 800;
    }
  }
  & .container.project2 {
    // background-color: #ffffb8;
    #project2 h2 {
      font-weight: 800;
    }
  }
}
// Project containers as part of the 'Projects' section
.container-project {
  position: relative;
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  border-top: 3px dotted $dark-color;
  padding: 1em 2rem;
  // border: 1px solid green;
  overflow: hidden;
  transition: height 300ms ease-out;

  a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  h2 {
    font-family: $font-sans;
    font-size: 5rem;
    font-weight: 100;
    transform: translateX(5%);
  }
  // h2::after {
  //   font-family: $font-sans;
  //   color: red;
  //   font-size: 5rem;
  //   width: 5rem;
  //   height: 5rem;
  //   // position: absolute;
  //   // left: 0;
  //   // top: 0;
  //   content: TriviaMaster;
  // }
  p {
    font-size: 1em;
    transform: translateX(5%);
  }
  &:nth-of-type(1) {
    border-top: 1px solid $dark-color;
  }
  i {
    font-size: 0.7em;
  }
}
// Portfolio showcase website preview - inside Projects section
// #project {
//   // justify-self: flex-end;
//   &::after {
//     opacity: 0;
//     box-shadow: 0 1px 6px 3px rgba($color: $dark-color, $alpha: 0.4);
//     top: -150%;
//     left: 55%;
//     position: absolute;
//     display: inline-block;
//     background-size: 50px 50px;
//     width: 550px;
//     height: 400px;
//     content: "";
//     transform: scale(0);
//     transition: transform 300ms, opacity 300ms;
//     pointer-events: none;
//     z-index: 1;
//   }

//   &:hover::after {
//     transform: scale(1);
//     opacity: 1;
//   }
//   // First project
//   &1::after {
//     background: url(../img/work1.png) no-repeat center center/cover;
//     @extend #project;
//   }
//   // Second project
//   &2::after {
//     background: url(../img/work2.png) no-repeat center center/cover;
//     @extend #project;
//   }
// }

// SECTION: About
#about {
  background-color: #9e6b55;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: 1rem;
  .container {
    // background-color: $dark-color;
    // color: $light-color;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid $dark-color;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
    position: relative;
    // overflow: hidden;
    .about-description {
      background-color: #fffdf6;
      width: 17%;
      height: 10%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 75%;
      top: -3%;
      border: 1px solid $dark-color;
    }
  }
  .about-first,
  .about-second {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50%;
    img {
      width: 50%;
    }
  }
  .about-first {
    background-color: $bg-light;
    // color: $light-color;
    padding-right: 5rem;
  }
  .about-second {
    text-align: right;
    background-color: #f6d9dd;
    padding-left: 4rem;
  }
  .about-text {
    // text-align: center;
    position: relative;

    padding: 2rem 2rem;

    h1 {
      font-size: 3.5rem;
      font-weight: 900;
      font-family: $font-sans;
    }
    p {
      width: 100%;
      margin: 0;
    }
    i {
      font-weight: 700;
      font-size: 1.4rem;
      font-family: $font-serif;
    }
  }
  .about-text1 {
    @extend .about-text;
    // background-color: $bg-light;
    width: 40%;
    height: 100%;
    // border: 1px solid green;
    // left: 30px;
  }

  .about-text2 {
    @extend .about-text;

    width: 40%;
    height: 100%;
    // border: 1px solid green;
    p {
    }
  }

  h1 {
    text-align: left;
    margin-bottom: 1rem;
  }
  p {
    text-align: justify;
    margin-bottom: 1rem;
  }
}

// SECTION: Current-State
#current-state {
  // background-color: #b5ead7;
  margin-top: 2rem;
  height: 70vh;
  display: flex;
  justify-content: center;

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // color: $secondary-color;

    h1 {
      font-size: 5rem;
    }
    .container-card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      column-gap: 3rem;
      width: 100%;
      height: 100%;
      // border: 1px solid black;
      margin: 3rem 0;
      color: $dark-color;

      .card {
        background-color: $bg-light;
        display: flex;
        flex-direction: column;
        width: 30%;
        min-width: 250px;
        min-height: 350px;

        // border: 1px solid $dark-color;
        text-align: center;
        border-radius: 20px 20px 0 0;
        box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.4);
        transition: transform 500ms;

        &:hover {
          transform: scale(1.1) translateY(-10px);
          transition: transform 500ms;
        }
        h2 {
        }
        h2.front {
          background-color: $secondary-color;
          border-radius: 20px 20px 0 0;

          padding: 0.5rem;
          margin-bottom: 0.5rem;
        }
        h2.back {
          background-color: #9e6b55;
          border-radius: 20px 20px 0 0;
          color: $primary-color;

          padding: 0.5rem;
          margin-bottom: 0.5rem;
        }
        ul {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          // border: 1px solid black;
          height: 100%;
          padding: 0.1rem;
          li {
            font-size: 1.2rem;
            padding: 0rem 1rem;
            text-align: left;
          }
          li::before {
            font-size: 1.5rem;
            padding: 0rem 2rem;
            font-family: "Font Awesome 5 Free";
            content: "\f111";
          }
          li.mark::before {
            font-size: 1.5rem;
            padding: 0rem 2rem;
            font-family: "Font Awesome 5 Free";
            // font-weight: 900;
            content: "\f058";
          }
        }
      }
    }
  }
}
// SECTION: Contact
#contact {
  height: 60vh;
  display: flex;
  justify-content: center;
  .container {
    width: 100%;
    height: 100%;
    border: 1px solid red;
  }
}

// FOOTER
footer {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 25vh;
  background-color: $dark-color;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 4rem;
    padding: 0.4rem;
    #logo {
      width: 5rem;
      height: auto;
    }
    h2 {
      font-size: 1.9rem;
      font-family: $font-sans;
      margin: 0;
    }
    p {
      font-weight: 100;
      font-size: 0.9rem;
    }
    .information-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      color: $primary-color;
      row-gap: 1rem;
    }
    .links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: left;
      color: $primary-color;
      // row-gap: 0.4rem;
      .links {
        margin-top: 1.5rem;
        a {
          margin-right: 1rem;
          color: $primary-color;
        }
      }
    }
  }
}

// MEDIA QUERIES - responsiveness of elements
@media screen and (max-width: 375px) {
  #main-nav {
    justify-content: center;
    ul {
      display: none;
    }
  }
  .header-content h1 {
    width: 58%;
    margin-top: 4rem;
    font-size: 1.3rem;
    padding: 1rem 0.5rem 1rem 1rem;
    span {
      font-size: 1.3rem;
    }
    #cursor {
      font-size: 1.3rem;
    }
  }
  .header-content p {
    font-size: 1rem;
    width: 85%;
    margin-bottom: 1rem;
  }
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #projects {
    .project-description {
      width: 40%;
      height: 10%;
      transform: translate3d(-60%, -30%, 0);
    }
    h1 {
      font-size: 1.1rem;
    }
  }
  .container-project {
    h2 {
      font-family: $font-sans;
      font-size: 1.7rem;
    }
  }
}
@media screen and (min-width: 375px) and (max-width: 425px) {
  #main-nav {
    justify-content: center;
    ul {
      display: none;
    }
  }
  .header-content h1 {
    width: 58%;
    margin-top: 5rem;
    font-size: 1.3rem;
    padding: 1rem 0.5rem 1rem 1rem;
    span {
      font-size: 1.3rem;
    }
    #cursor {
      font-size: 1.3rem;
    }
  }
  .header-content p {
    font-size: 1rem;
    width: 85%;
    margin-bottom: 1rem;
  }
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #projects {
    .project-description {
      width: 35%;
      height: 10%;
      transform: translate3d(-80%, -30%, 0);
    }
    h1 {
      font-size: 1.2rem;
    }
  }
  .container-project {
    h2 {
      font-family: $font-sans;
      font-size: 2rem;
    }
  }
}
@media screen and (min-width: 425px) and (max-width: 512px) {
  #main-nav {
    justify-content: center;
    ul {
      display: none;
    }
  }
  .header-content h1 {
    width: 80%;
    font-size: 1.1rem;
    padding: 1rem 0.5rem 1rem 1rem;
    span {
      font-size: 1.1rem;
    }
    #cursor {
      font-size: 1.1rem;
    }
  }
  .header-content p {
    font-size: 1rem;
    width: 85%;
    margin-bottom: 1rem;
  }
  .cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #projects {
    .project-description {
      width: 35%;
      transform: translate3d(-80%, -30%, 0);
    }
    h1 {
      font-size: 1.4rem;
    }
  }
  .container-project {
    h2 {
      font-family: $font-sans;
      font-size: 2.2rem;
    }
  }
  .container-card {
    display: block;
    flex-direction: column;
  }
}
@media screen and (min-width: 512px) and (max-width: 640px) {
  .header-content h1 {
    width: 70%;
    font-size: 1.2rem;
    padding: 1rem 0.5rem 1rem 1rem;
    span {
      font-size: 1.2rem;
    }
    #cursor {
      font-size: 1.2rem;
    }
  }
  #projects {
    .project-description {
      width: 35%;
      transform: translate3d(-80%, -30%, 0);
    }
    h1 {
      font-size: 1.6rem;
    }
  }
  .container-project {
    h2 {
      font-family: $font-sans;
      font-size: 2.8rem;
    }
  }
  .container-card {
    display: block;
    flex-direction: column;
  }
}
@media screen and (min-width: 640px) and (max-width: 768px) {
  .header-content h1 {
    width: 70%;
    font-size: 1.5rem;
    padding: 1rem 0.5rem 1rem 1rem;
    span {
      font-size: 1.5rem;
    }
    #cursor {
      font-size: 1.5rem;
    }
  }
  .header-content p {
    font-size: 1rem;
  }
  #projects {
    .project-description {
      width: 35%;
      transform: translate3d(-80%, -30%, 0);
    }
    h1 {
      font-size: 2rem;
    }
  }
  .container-project {
    h2 {
      font-family: $font-sans;
      font-size: 3rem;
    }
  }
  .container-card {
    display: block;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) and (max-width: 896px) {
  .header-content h1 {
    font-size: 1.8rem;
    padding: 1rem 0.5rem 1rem 1.5rem;
    span {
      font-size: 1.8rem;
    }
    #cursor {
      font-size: 1.8rem;
    }
  }
  #projects {
    .project-description {
      width: 30%;
      transform: translate3d(-90%, -30%, 0);
    }
    h1 {
      font-size: 2.2rem;
    }
  }
}
@media screen and (min-width: 896px) and (max-width: 1000px) {
  .header-content h1 {
    font-size: 1.7rem;
    padding: 1rem 0.2rem 1rem 1rem;
    span {
      font-size: 1.7rem;
    }
    #cursor {
      font-size: 1.7rem;
    }
  }
}
@media screen and (min-width: 1000px) and (max-width: 1140px) {
  .header-content {
    & h1 {
      font-size: 2rem;
      padding: 1rem 0.5rem 1rem 1.5rem;
    }
    & h1 span {
      font-size: 2rem;
    }
  }
}
