@import "config";
@import "animations";
@import "utilities";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  // User Cannot highlight & drag elements
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

#main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;
}

// The '|' in the typewriter text, with a blinking effect
#cursor {
  &.cursorBlink {
    animation: blink 1000ms linear infinite;
  }
}

// Logo
#logo {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 2px 1px rgba(86, 185, 235, 0.3);
}

// Main Nav
#main-nav {
  display: flex;
  align-items: center;
  max-width: $website-width;
  margin: auto;
  justify-content: space-between;
  padding: 2rem 7rem 0 7rem;

  img {
    justify-self: flex-start;
  }
  ul {
    display: flex;
    flex-direction: row;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: $dark-color;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border 0.2s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $dark-color;
    }
  }
}

// Header
#header {
  align-items: center;
  justify-content: center;
  &-home {
    background-color: $primary-color;
    height: 100vh;
  }
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & h1 {
    text-align: left;
    width: 780px;
    // max-width: 760px;
    background-color: #fff;
    border: 1px solid $dark-color;
    // box-shadow: 0 1.5px 10px 1px rgba(0, 0, 0, 0.5);
    padding: 15px 12px 15px 30px;
    margin-top: 12rem;
    margin-bottom: 2rem;
  }

  p {
    text-align: center;
    max-width: 650px;
    margin-bottom: 1rem;
  }

  #cursor {
    font-weight: 300;
  }
}

// About
#about {
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-top: 1px solid $dark-color;
  .container {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
    padding: 2rem 0;
    // overflow: hidden;
  }
  .about-text {
    text-align: center;
    position: relative;
    background-color: peachpuff;
    width: 550px;
    height: 600px;
    padding: 2.5rem 3rem;
    z-index: 2;
  }

  h2 {
    text-align: left;
    margin-bottom: 1rem;
  }
  p {
    text-align: justify;
    margin-bottom: 1rem;
  }

  .about-showcase {
    overflow: hidden;
    background-color: #f3d67f;
    position: relative;
    top: -40px;
    left: -50px;
    width: 550px;
    height: 700px;
    z-index: 1;
    text-align: center;

    & img {
      position: relative;
      top: 100%;
      transform: scale(0.5);
    }
    & #show1 {
      display: block;
      position: absolute;
      animation-delay: 0;
      animation: showcase 10000ms linear infinite;
    }
    & #show2 {
      display: block;
      position: absolute;
      animation: showcase 10000ms linear infinite;
      animation-delay: 3333ms;
    }
    & #show3 {
      display: block;
      position: absolute;
      animation: showcase 10000ms linear infinite;
      animation-delay: 6666ms;
    }
    & #show4 {
      display: block;
      position: absolute;
      animation: showcase 10000ms linear infinite;
      animation-delay: 4000ms;
    }
  }
}
